@import '../../styles/imports';

.colaboradores {
  width: 100%;
  background-color: $pale-white;
  
  .colaboradores-image {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
  }
}