@import '../../styles/imports';

.footer {
  background-color: $primary-color;
  color: white;
  padding: 20px 0;
  
  .copyright {
    margin: 0;
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 1px;
    
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
    
    @media (max-width: 480px) {
      font-size: 1.3rem;
    }
  }
}